<dl id="books">
  <% for book in @books %>
   <dt><%= book.title %></dt>
   <dt><%= link_to 'Show', :action => 'show' ,  :id => book %></dt>
   <% for author in book.authors %>
     <dd><%= author.last_name %>, <%= author.first_name %></dd>
   <% end %>
   <dd><%= pluralize(book.page_count, "page") %></dd>
   <dd>Price: $<%= sprintf("%.2f", book.price) %></dd>
   <dd><small>Publisher: <%= book.publisher.name %></small></dd>
  <% end %>
</dl>
<%= will_paginate @books %>