<%= form_tag({:action => 'update', :id => @author}, {:method => :put}) do
<%= render :partial => 'form' %>
<%= submit_tag 'Edit' %>
<% end %>
<%= link_to 'Show', :action => 'show', :id => @author %> |
<%= link_to 'Back', :action => 'index' %>