body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
} pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}
a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }
.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}
#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}
#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}
#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
#notice {
  padding: 5px;
     margin: 0px;
  background-color: #FFCC80;
}
#tags_update {
  font-size: 75%;
  font-weight: normal;
  margin: 0px;
  padding: 0px;
  border:1px solid black;
  background-color: white;
}
#menu ul {
  padding: 2px;
  margin: 2px;
  list-style: none;
  border-top: 5px solid #B36B00;
  border-bottom: 1px solid grey;
}
#menu ul li {
  margin: 0px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline;
}
#menu a, #menu a:visited, #menu a:active {
  font-weight: bold;
  color: black;
  font-size: 110%;
  text-decoration:none;
}
#menu a:active { background-color: grey; }
#menu a:hover { color: white; }
#header{
  background: #9c9;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid;
  font: small-caps 25px/25px "Times New Roman", serif;
  color: #282;
  text-align: center;
}
#content {
  padding-bottom: 15px;
  border-bottom: 1px solid grey;
}
#logo { font-size: 250%; }
#footer {
width: 100%;
     text-align: center;
}
#slogan {
  position: relative;
  font-size: 70%;
  margin: 0px;
  line-height: 0px;
  top: 0px;
  left: 80px;
}
dt { font-weight: bold; }
#shopping_cart {
  border-left: 3px solid #666;
  background: #aaa;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 100%;
  padding: 5px 10px;
}
#shopping_cart ul, #shopping_cart li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#shopping_cart h3 { padding-top: 4em; }
#cart_notice {
  border: 2px solid #58A986;
  background: #B2FFD3;
  padding: 3px;
  position: absolute;
top: 0;
left: 10px; }
body {
  background-color: #fff;
  color: #333;
  margin-right: 230px;
}
h1 {
  line-height: 100%;
}