<!DOCTYPE html>
<html>
<head>
       <title><%= @page_title || 'Emporium' %></title>
       <%= stylesheet_link_tag "application", media: "all",
"data-turbolinks-track" => true %>
       <%= javascript_include_tag "defaults",
"data-turbolinks-track" => true %>
       <%= csrf_meta_tags %>
</head>
<body> <div id="header">
       <h1 id="logo">Emporium&trade;</h1>
       <h2 id="slogan">Books on Rails</h2>
</div>
<div id="menu">
       <ul>
       <li><a href="/admin/author">Authors</a>&nbsp;|&nbsp;</li>
       <li><a href="/admin/publishers">Publishers</a>&nbsp;|&nbsp;</li>
       <li><a href="/admin/books">Books</a>&nbsp;|&nbsp;</li>
       <li><a href="/">Catalog</a>&nbsp;|&nbsp;</li>
       <li><a href="/about">About</a>&nbsp;</li>
       </ul>
</div>
<div id="content">
       <%= "<h1>#{@page_title}</h1>".html_safe if @page_title %>
       <% if flash[:notice] %>
       <div id="notice">
       <%= flash[:notice] %>
       </div>
       <% end %>
       <%= yield %>
</div>
<div id="footer">
       &copy; 2016 Emporium
</div>
</body>
</html>
 